body {
    background-color: green;
    width: 100vw;
    height: 100vh;
    padding: 0px;
    margin: 0px;
  }
  .container {
    display: flex;
  }
  .insideleft {
    margin-top: 30px;
  }
  .mainapple {
    position: relative;
    background-image: linear-gradient(rgb(104, 216, 0),rgb(185, 216, 46),rgb(104, 216, 0));
    height: 330px;
    width: 82%;
    display: flex;
    justify-content: space-between;
    border-radius: 10px 10px 0px 0px;
  }
  #bigapple {
    width: 100%;
  }
  .mainapple > img {
    margin-top: 40px;
    position: absolute;
    left: -50px;
  }
  .subapple {
    background-color: white;
    height: 80px;
    width: 300px;
    border-radius: 0px 0px 10px 10px;
  }
  .insideleft {
    position: absolute;
    left: -30px;
  }
  .maincard {
    margin-top: 50px;
    position: relative;
    left: 475px;
    background-color: white;
    height: 480px;
    width: 510px;
    border-radius: 10px 10px 10px 10px;
  }
  .insideright {
    position: absolute;
    padding-left: 225px;
  }
  .bod {
    border: 2px solid black;
  }
  button {
    color: white;
    background-color: red;
    padding: 4% 8% 4% 8%;
    border-radius: 8px;
  }
  .appleshead {
    margin-top: 40px;
    font-size: 120%;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    font-family: "Roboto", sans-serif;
    font-family: "Source Sans Pro", sans-serif;
  }
  .benefits {
    margin-top: 10%;
    font-size: 12px;
    font-weight: 800;
    color: rgb(172, 172, 172);
    font-family: "Montserrat", sans-serif;
    font-family: "Roboto", sans-serif;
    font-family: "Source Sans Pro", sans-serif;
  }
  .code {
    font-size: 11px;
    font-weight: 400;
    color: gray;
    font-family: "Montserrat", sans-serif;
    font-family: "Roboto", sans-serif;
    font-family: "Source Sans Pro", sans-serif;
  }
  .imgcolor {
    margin-top: 8%;
    margin-left: 10%;
  }
  i {
    padding: 8px;
    color: white;
  }
  .price {
    margin-top: 13%;
    color: red;
    font-family: "Montserrat", sans-serif;
    font-family: "Roboto", sans-serif;
    font-family: "Source Sans Pro", sans-serif;
    display: flex;
  }
  .amount {
    margin-top: -25px;
    padding-left: 5%;
    font-size: 280%;
  }
  span > img {
    width: 15%;
  }
  #firstsubapple {
    margin-top: 5%;
    margin-left: 10%;
    border: 0.5px solid rgb(221, 220, 220);
  }
  #secondsubapple {
    border: 0.5px solid rgb(221, 220, 220);
  }
  li {
    font-size: 80%;
    font-family: "Montserrat", sans-serif;
    font-family: "Roboto", sans-serif;
    font-family: "Source Sans Pro", sans-serif;
  }
  